build/*
build_release/*
build_debug/*
build_dynamic/*
build_static/*
RtreeRepo/build/*
build_*/*
.vs/*
out/*
RtreeRepo/build*/*
RtreeRepo/CmakeFiles/*
RtreeRepo/RtreeRepo/*
RtreeRepo/.cache/*RtreeRepo/.cache/*
RtreeRepo/build_*/*
Rtreerepo/RtreeRepo/*
RtreeRepo/CMakeFiles/*
